body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  /*max-width: 1168px;*/
  /*padding-right: 15px;
  padding-left: 15px;*/
  margin: 0 auto;
    max-width: 320px;
  }


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* -----HEADER----- */

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  gap: 332px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}
.header-list-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  display: block;
}

.header-list-link:hover,
.header-list-link:focus {
  color: #404bbf;
}

  

.studio {
  color:  #404bbF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
  background-color: #404bbf;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  content: "";
}
  

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* ------HERO----- */

.hero {
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.hero .container {
  text-align: center;
  display: block;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-order-btn {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-btn {
  cursor: pointer;
}

.hero-order-btn:hover,
.hero-order-btn:focus {
  background-color: #404bbf;
}

/* -----FEATURES----- */

.features {
  /*padding: 120px 0;*/
  padding: 96px 16px;
}

.features-list {
  display: flex;
  gap: 72px;
  /*gap: 24px;*/
  flex-wrap: wrap;
}

.features-item {
  width: 100%;
  /*width: 264px;*/
  width: 288px;
}

.features-icon-area {
  border-radius: 4px;
border: 1px solid #8E8F99;
background:#F4F4FD;
width: 264px;
height: 112px;
padding: 24px 100px;
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
display: none;
}


.features-item-title {
  color: #2e2f42;
  /*font-size: 20px;
  font-weight: 500;
  line-height: 1.2;*/
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  
}

.features-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  /*font-weight: 400;*/
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* -----TEAM----- */

.team {
  background-color: #f4f4fd;
  /*padding: 120px 0;*/
  padding: 96px 16px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  /*gap: 24px;*/
  flex-wrap: wrap;
  gap: 72px;
margin-left: 12px;
margin-right: 12px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.team-img {
}
.team-item-info {
  padding: 32px 0;
}
.team-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-networks-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.network-item {
width: 40px;
height: 40px;
}
.network-item-area {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.network-item-area:hover {
  background-color: #404bbf;
}

.network-item-area:focus {
  background-color: #404bbf;
}



/* -----PORTFOLIO----- */

.portfolio {
  /*padding: 120px 0;*/
  padding: 96px 16px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  /*row-gap: 48px;*/
  column-gap: 24px;
}

.portfolio-list-item {
  background-color: #ffffff;
  /*width: 360px;*/
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba( 46, 47, 66, 0.08);
}

.portfolio-list-item:hover .cover-text {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
}
.image-cover-box {
  position: relative;
  overflow: hidden;
}

.cover-text {
  color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  border: 1px solid #F4F4FD;
background-color: #4D5AE5;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -----FOOTER----- */

.footer {
  background: #2e2f42;
  /*padding: 100px 0;*/
  padding: 96px 16px;
}
.footer .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.logo-text-box {
  /*margin-right: 120px;*/
  margin-bottom: 72px;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  /*display: inline-block;*/
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*max-width: 264px;*/
  max-width: 288px;
}

.footer-social-networks {
margin-bottom: 72px;
margin-left: 40px;
margin-right: 40px;
}

.footer-networks-text {
  color:  #FFFFFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
text-align: center;
}

.footer-networks-list {
  display: flex;
  gap: 16px;
}

.footer-network-item {
  width: 40px;
  height: 40px;
  
  }
  .network-item-icon {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .network-item-icon:hover {
    background-color: #31D0AA;
  }

  .network-item-icon:focus {
    background-color: #31d0aa;
  } 

  .footer-form-container {
    /*margin-left: 80px;*/
    
  }
.footer-form {
  display: flex;
  /*gap: 24px;*/
  flex-wrap: wrap;
  justify-content: center;
}
.footer-form-text {
  color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
text-align: center;
}

.footer-form-input {
  padding-left: 16px;
  color: #FFFFFF;
font-size: 12px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
border: 1px solid  #FFFFFF;
/*width: 264px;*/
width: 288px;
height: 40px;
background: transparent;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
margin-bottom: 16px;
}

.footer-form-input::placeholder {
  color: #FFFFFF;
}

.footer-form-btn {
  display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
border-radius: 4px;
background: #4D5AE5;
border: none;
min-width: 165px;
height: 40px;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.form-btn-icon {
  margin-left: 16px;
}



    /* -----BACKDROP----- */

    .backdrop {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(46, 47, 66, 0.40);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      visibility: hidden;
      opacity: 0;
      }

      .is-open {
        visibility: visible;
        opacity: 1;
        }


    .modal-container {
      width: 408px;
      min-height: 584px;
      border-radius: 4px;
      background-color: #FCFCFC;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 24px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      padding: 72px 24px 24px 24px;
    }
    
   .form-close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: 360px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
   
   .form-close-btn:hover {
    background-color: #404bbf;
    border: none;
   }

   .form-close-btn:focus {
    background-color: #404bbf;
    border: none;
   }

   .close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .form-close-btn:hover .close-btn-icon {
    fill: #ffffff;
   }
   .form-close-btn:focus .close-btn-icon {
    fill: #ffffff;
   } 
   



   .modal-form-text {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 360px;
    margin-top: 24px;
    margin-bottom: 16px;
   }

   .modal-area {
margin-bottom: 8px;
   }

   .modal-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
  }

.input-box {
position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-input:focus {
  border-color: #4D5AE5;
 }

 .modal-input:focus + .modal-icon {
  fill: #4D5AE5;
 }

.modal-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #2E2F42;
}

   .modal-form-btn {
    display: block;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
    }

   .textarea-box {
    margin-bottom: 16px;
   }
   .modal-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   }

   .modal-textarea:focus {
    border-color: #4D5AE5;
   }

   .modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
   }

   .checkbox-area {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
   }
   .checkbox-input {

   }

   .checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
   }

   .checkbox-label-policy {
    color: #4D5AE5;
font-size: 12px;
font-weight: 400;
line-height: 1.16;
letter-spacing: 0.04em;
text-decoration-line: underline;
   }

   .custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .modal-checkbox:checked + .checkbox-label > .custom-checkbox {
    background-color: #404bbf;;
    border: none;
    fill: #f4f4fd;
  }

  


/*------ MEDIA 768 ----*/

/*@medi—Ñ screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*------ MEDIA 1158 ----*/

/*@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}*/